@import "tailwindcss";

/* .card {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  transition: 0.5s;
}    */

/* You write this in a separate file */
.bio-card {
  position: absolute;
  padding: 10px;
  padding-top: 40px;
  top: 20%;
  left: 50%;
  height: 500px;
  width: 400px;
  border-radius: 25px;
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
  inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  transition: 0.5s;
}

.profile-container {
  border: 2px solid rgba(25, 48, 70, 0.508); /* color + thickness */
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
  inset 0 0 5px rgba(64, 178, 231, 0.274), 0 5px 5px rgba(33, 59, 112, 0.444);
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 30%;
  object-fit: cover;
}

.profile {
  height: 310px;
  width: 320px;
  border-radius: 50%;
}