.background-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.marquee-cards {
    display: block;        
    border-radius: 25px;
    min-width: 15vw;
    max-width: 20vw;
    height: auto;
    border: 10px solid white; 
    object-fit: cover; 
}

.marquee-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.more-card {
    position: absolute;
    top: 5vh;
    left: 22vw;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;          
    width: auto;
    min-width: 300px;
    max-width: 400px;
    height: auto;           
    min-height: 150px;
    border-radius: 25px;
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1),
                0 5px 15px rgba(0, 0, 0, 0.2);
}

.quote-card {
    position: absolute;
    top: 63vh;
    left: 24.3vw;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    padding: 25px;          
    width: 350px;
    height: auto;           
    border-radius: 25px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1),
                0 5px 15px rgba(0, 0, 0, 0.2);
}

.marquee-container {
  display: flex;
  position: absolute;
  margin-left: auto; 
  top: 0%;
  width: 30%;        
}


@media (max-width: 1100px) {
    .marquee-container {
        top: 85vh; 
        width: 10%;
        left: 0;
    }
    
    .more-card {
        left: 5vw; 
    }

    .quote-card {
        left: 5vw;
    }
}

.quote-button {
    cursor: pointer;
    padding: 10px;
    font-size: 12px;
    font-weight: 250;
    color: lightgrey;
}

.quote-button:hover {
    color: lightgrey;
    text-decoration: underline;
}