@import "tailwindcss";

.nav-link {
  color: white;      /* text color */
  font-size: 16px;   /* text size */
  text-decoration: none;
  font-weight: 1000;
}

.nav-link:hover {

  color: #1695cb;
}

/* From Uiverse.io by akshat-patel28 */ 
.button-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  background-color: rgba(79, 30, 47, 0.021);
  width: 60%;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: rgba(132, 113, 113, 0.35) 0px 5px 15px,
    rgba(54, 174, 217, 0.5) 5px 10px 15px;

  /* z-index: 1000; */
}


.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}