.navbar-container {
  position: fixed;
  top: 0px;
  left: 0;
  margin: 0;        /* remove margin-top */
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: #3d3d3d;
  width: 100%;
}

.nav-link {
    padding: 10px;
    margin: 0;
    color: rgb(231, 231, 231);
}