@import "tailwindcss";
.navbar-container {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  margin: 0;        /* remove margin-top */
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: #3d3d3d;
  /* width: 100%; */
  border-color: white;
  border-radius: 10px;
}

.nav-link {
    padding: 10px;
    margin: 0;
    text-decoration: blink;
    color: #A4A5F5;
}