.main-content-wrapper {
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;            /* Space between individual cards */
}


.background-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  
}

.project-card {
    position: relative;
    margin: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;          
    width: auto;
    min-width: 250px;
    max-width: 75vw;
    height: auto;           
    min-height: 150px;
    border-radius: 25px;
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1),
                0 5px 15px rgba(0, 0, 0, 0.2);
}

.title-container {
    align-self: flex-start; 
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.title-container a {
    color: white;
    align-self: flex-start; 
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.title-container a:hover {
    color: #18a597ff;
    align-self: flex-start; 
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.description-container {
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.4;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;   
    justify-content: flex-start; 
    gap: 8px;               
    margin-top: auto;       
}

.individual-skill {
    font-size: 0.9rem;
    font-weight: 700;     
    padding: 5px 12px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(6, 247, 183, 0.856);
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    white-space: nowrap;   
}