.background-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  mask-image: radial-gradient(circle at center, white, transparent 80%);
  -webkit-mask-image: radial-gradient(circle at center, white, transparent 80%);
}

.project-card {
    position: relative;
    margin: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
        inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
}